tmp*
.DS_Store
/node_modules
docs/_site
docs/static/css
docs/.jekyll-cache
npm-debug.log
npm-debug.log.*
*~
coverage
bower_components
.idea/
.vscode/
tests/integration/cordova/www
tests/pouchdb_server
tests/performance-bundle.js
packages/node_modules/pouchdb/dist/*
packages/node_modules/onsite-pouchdb-adapter-leveldb/node_modules
packages/node_modules/onsite-pouchdb-adapter-leveldb-core/node_modules
packages/node_modules/onsite-pouchdb-adapter-node-sql/node_modules
packages/node_modules/onsite-pouchdb-adapter-node-sql-core/node_modules
packages/node_modules/onsite-pouchdb-adapter-node-websql/node_modules
packages/node_modules/onsite-pouchdb-adapter-websql/node_modules
packages/node_modules/onsite-pouchdb-adapter-websql-core/node_modules
packages/node_modules/onsite-pouchdb-auth-utils/node_modules
packages/node_modules/onsite-pouchdb-memory/node_modules
packages/node_modules/onsite-pouchdb-upsert-plugin/node_modules
packages/node_modules/onsite-pouchdb-adapter-leveldb/.git
packages/node_modules/onsite-pouchdb-adapter-leveldb-core/.git
packages/node_modules/onsite-pouchdb-adapter-node-sql/.git
packages/node_modules/onsite-pouchdb-adapter-node-sql-core/.git
packages/node_modules/onsite-pouchdb-adapter-node-websql/.git
packages/node_modules/onsite-pouchdb-adapter-websql/.git
packages/node_modules/onsite-pouchdb-adapter-websql-core/.git
packages/node_modules/onsite-pouchdb-auth-utils/.git
packages/node_modules/onsite-pouchdb-memory/.git
packages/node_modules/onsite-pouchdb-upsert-plugin/.git
pouchdb-webpack.js
lib
lib_unit
src_browser/
lerna-debug.log
tests/integration/utils-bundle.js
*.heapsnapshot
/pouchdb-server-install
package-lock.json
yarn.lock
